mixin enter({className = false, childClassName = false})
    ul.enter(class=className)
        li.enter__item(class=childClassName)
            a.enter__link(href="#") Регистрация
        li.enter__item(class=childClassName)
            a.enter__link(href="#") Войти
