$sprite: '../img/sprites/sprite.svg#';

// For project

$dark: #364859;
$white: #fff;
$primary: #A62525;
$primary-hover: #8B0E0E;

$opacity0_7_9: .79;
$opacity0_7: .7;
$opacity0_5: .5;
$opacity0_3: .3;
$opacity0_2: .2;



$font-muller:       'Muller';
$font-family-base:  $font-muller, sans-serif;
$body-bg:           $dark;
$primary-color:     $dark;

$h1: 48;
$h2: 40;

$h1-height: 112%;
$h2-height: 117%;
$h3-height: 120%;
$h4-height: 125%;

$text-largest:  800;
$text-bigger:   300;
$text-big:      24;
$text-large:    18;
$text-normal:   16;
$text-small:    14;
$text-smallest: 12;

$height-largest:  200%;
$height-bigger:   150%;
$height-small:    133%;
$height-smallest: 120%;

$border-radius-small:   2px;
$border-radius-biggest: 50px;

$duration: .3s;

$containerMax: 1342;
$containerMin: 320;
