$sprite: '../img/sprites/sprite.svg#';

// For project

$opacity0_7_9: .79;
$opacity0_7: .7;
$opacity0_5: .5;
$opacity0_4: .4;
$opacity0_3: .3;
$opacity0_2: .2;

$alpha: #A62525;
$alpha-hover: #8B0E0E;

$beta:  #364859;
$beta-medium:   rgba($beta, $opacity0_7);
$beta-normal:   rgba($beta, $opacity0_5);
$beta-light:    rgba($beta, $opacity0_4);
$beta-lighter:  rgba($beta, $opacity0_3);
$beta-lightest: rgba($beta, $opacity0_2);

$gamma: #fff;
$gamma-medium:   rgba($gamma, $opacity0_7);
$gamma-normal:   rgba($gamma, $opacity0_5);
$gamma-light:    rgba($gamma, $opacity0_4);
$gamma-lighter:  rgba($gamma, $opacity0_3);
$gamma-lightest: rgba($gamma, $opacity0_2);





$font-muller:       'Muller';
$font-family-base:  $font-muller, sans-serif;
$body-bg:           $gamma;
$beta-color:     $beta;

$h1: 48;
$h2: 40;

$h1-height: 112%;
$h2-height: 117%;
$h3-height: 120%;
$h4-height: 125%;

$text-largest:  800;
$text-bigger:   300;
$text-big:      24;
$text-large:    18;
$text-normal:   16;
$text-small:    14;
$text-smallest: 12;

$height-largest:  200%;
$height-bigger:   150%;
$height-small:    133%;
$height-smallest: 120%;

$border-radius-small:   2px;
$border-radius-biggest: 50px;

$duration: .3s;

$containerMax: 1342;
$containerMin: 320;
