$sprite: '../img/sprites/sprite.svg#';

// For project

$opacity0_7_9: .79;
$opacity0_7: .7;
$opacity0_5: .5;
$opacity0_4: .4;
$opacity0_3: .3;
$opacity0_2: .2;

$alpha: #A62525;
$alpha-hover: #8B0E0E;

$beta:  #364859;
$beta-medium:   rgba($beta, $opacity0_7);
$beta-normal:   rgba($beta, $opacity0_5);
$beta-light:    rgba($beta, $opacity0_4);
$beta-lighter:  rgba($beta, $opacity0_3);
$beta-lightest: rgba($beta, $opacity0_2);

$gamma: #fff;
$gamma-medium:   rgba($gamma, $opacity0_7);
$gamma-normal:   rgba($gamma, $opacity0_5);
$gamma-light:    rgba($gamma, $opacity0_4);
$gamma-lighter:  rgba($gamma, $opacity0_3);
$gamma-lightest: rgba($gamma, $opacity0_2);





$font-alpha:       'Muller';
$font-family-base:  $font-alpha, sans-serif;
$body-bg:           $gamma;
$beta-color:     $beta;

$h1: 50;
$h2: 42;


$height-alpha: 160%;
$height-beta: 150%;
$height-gamma: 150%;

$text-largest:  58;
$text-bigger:   38;
$text-big:      20;
$text-large:    18;
$text-normal:   16;
$text-small:    14;
$text-smallest: 12;

$border-radius-small:   2px;
$border-radius-biggest: 50px;

$duration: .3s;

$containerMax: 1342;
$containerMin: 320;
