include ../../components/btn/btn
include ../../components/top-line/top-line
include ../../modules/sidebar/sidebar

mixin header({className = false})
    header.header(class=className)
        +top-line({className: 'header__top-line' })
