mixin sidebar__item({paragraphText, iconName})
    .sidebar__item
        p.sidebar__paragraph #{paragraphText}
            +icon({
                className: 'svg-icon svg-icon_theme_red sidebar__icon',
                svgName: iconName,
            })

include ../../components/search/search
include ../../components/dropdown-menu/dropdown-menu
include ../../components/extra/extra
mixin sidebar()
    -
        const
            stackTech = ['Гидравлические тележки', 'Подъёмные столы', 'Полуэлектрические штабелеры', 'Гидравлические штабелеры', 'Складские тележки', 'Электрические штабелеры']
            extraItems = ['Акции', 'Доставка и оплата', 'Контакты']
    section.sidebar
        .sidebar__inner
            .sidebar__content.sidebar__content_offset_left-0
                +search({
                    text: 'Поиск по сайту',
                    icon: 'search',
                })
            .sidebar__content.sidebar__content_offset_big
                +dropdown-menu({
                    parentClass: 'sidebar__dropdown-menu',
                    items: stackTech,
                    dropdownTitle: 'СКЛАДСКАЯ ТЕХНИКА',
                })
                +dropdown-menu({
                    parentClass: 'sidebar__dropdown-menu',
                    items: stackTech,
                    dropdownTitle: 'ВИЛОЧНЫЕ ПОГРУЗЧИКИ',
                })
                +dropdown-menu({
                    parentClass: 'sidebar__dropdown-menu',
                    items: stackTech,
                    dropdownTitle: 'ПЛАСТИКОВАЯ ТАРА',
                })
                +dropdown-menu({
                    parentClass: 'sidebar__dropdown-menu',
                    items: stackTech,
                    dropdownTitle: 'ШИНЫ ДЛЯ СПЕЦ.ТЕХНИКИ',
                })
                +dropdown-menu({
                    parentClass: 'sidebar__dropdown-menu',
                    items: stackTech,
                    dropdownTitle: 'Запчасти',
                })
            .sidebar__content.sidebar__content_offset_small
                +sidebar__item({
                    paragraphText: 'Сервис',
                    iconName: 'wrench',
                })
            .sidebar__content.sidebar__content_offset_big
                +extra({
                    parentClass: 'sidebar__extra',
                    linkClass: 'dropdown-menu__title',
                    items: extraItems,
                })
