.sidebar {
    @media (max-width: $break_lg) {
        min-width: $sidebar-lg;
        max-width: $sidebar-lg;
    }
    @media (max-width: $break_md) {
        top: 55px;
        padding-top: 0;
        transform: translate(-100%, 0);
        transition: transform $duration ease-in;
        z-index: 21;
        &_active {
            transform: translate(0, 0);
            transition: transform $duration ease-out;
        }
    }
    @media (max-width: $break_sm) {
        min-width: 100%;
        // overflow-y: scroll;
    }
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: $sidebar;
    padding-top: 91px;
    background-color: $gamma;

    &__inner {
        height: 100%;
        border-right: 1px solid $beta-lightest;
    }
    &__content {
        padding-left: 40px;
        &_offset {
            &_big {
                @media (max-width: $break_lg) {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                padding-top: 40px;
                padding-bottom: 40px;
            }
            &_small {
                @media (max-width: $break_lg) {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                padding-top: 20px;
                padding-bottom: 20px;
            }
            &_left-0 {
                padding-left: 0;
            }
        }
    }
    &__content:not(:last-of-type) {
        @include border(1px, rgba($border-color, $opacity0_1), bottom);
    }
    &__dropdown-menu  + &__dropdown-menu {
        margin-top: 28px
    }
    &__paragraph {
        position: relative;
        font-weight: 600;
        color: $alpha;
        text-transform: uppercase;
    }
    &__paragraph:after, &__paragraph:before {
        display: none;
    }
    &__icon {
        @media (max-width: $break_lg) {
            right: 28px;
            top: 1px;
        }
        position: absolute;
        right: 55px;
        top: 2px;
        width: 18px;
        height: 18px;
    }
}
