.top-line {
    display: flex;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: $sidebar;
        min-width: $sidebar;
        background-color: $gamma;
    }
    &__logo-img {

    }
    &__container {

    }
    &__info {
        @include text-small();
        @include col();
        flex-grow: 1;
        line-height: 128%;
    }
    &__phone-wrapper {
        @include col();
        display: flex;
    }
    &__phone-inner {
        margin-left: 32px;
    }
    &__phone {

    }
    &__subtitle {

    }
    &__icon-wrapper {

    }
    &__icon {

    }
}
