.top-line {
    @media (max-width: $break_lg) {
        justify-content: space-between;
    }
    @include padding(top, level_15);
    @include padding(bottom, level_5);
    @include border(1px, #000, bottom);
    display: flex;
    align-items: center;

    &__logo-link {

    }
    &__logo {

    }
    &__nav {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }
    &__phone {
        @media (max-width: $break_xs) {
            display: none;
        }
        position: relative;
        padding-left: 24px;
        text-decoration: none;
        font-size: rem($text-large);
    }
    &__phone-icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-60%);
        max-height: 16px;
        max-width: 16px;
        fill: $alpha;
    }
}
.top-line_theme_white {
    .top-line__phone {
        color: $gamma;
    }
}
.top-line_theme_dark {
    .top-line__phone {
        color: $beta;
    }
}
