.top-line {
    @media (max-width: $break_md) {
        @include container();
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0;
        padding-left: 0;
        background-color: $gamma;
        border-bottom: 1px solid $beta-lightest;
    }
    @media (max-width: $break_sm) {
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
        border-bottom: 1px solid $gamma-light;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;

    &__logo {
        @media (max-width: $break_lg) {
            max-width: $sidebar-lg;
            min-width: $sidebar-lg;
            padding-left: 30px;
        }
        @media (max-width: $break_md) {
            height: auto;
            max-width: none;
            min-width: auto;
            padding-left: 0;
            background-color: transparent;
            border-bottom: 0;
        }
        @media (max-width: $break_sm) {
            @include container();
            width: 100%;
            padding-top: 16px;
            padding-bottom: 16px;
            background-color: #fff;
        }
        display: flex;
        align-items: center;
        max-width: $sidebar;
        min-width: $sidebar;
        height: 90px;
        padding-left: 40px;
        background-color: $gamma;
        border-bottom: 1px solid $beta-lightest;
    }
    &__logo-img {
        @include lg(width, 186px);
        @include md(width, 150px);
        width: 230px;
    }
    &__container {
        @media (max-width: $break_sm) {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid $gamma-light;
    }
    &__container-inner {
        @media (max-width: $break_md) {
            padding-right: 0;
            padding-left: 0;
            max-width: none;
        }
        @media (max-width: $break_sm) {
            @include container();
            max-width: none;
        }
        width: 100%;
    }
    &__inner {
        @media (max-width: $break_md) {
            justify-content: flex-end;
            margin-right: 0;
            margin-left: 0;
        }
        align-items: center;
    }
    &__info {
        @media (max-width: $break_md) {
            color: $beta;
        }
        @media (max-width: $break_sm) {
            display: none;
        }
        @include text-small();
        @include col();
        flex-grow: 1;
        color: $gamma;
        line-height: 128%;
    }
    &__phone-wrapper {
        @media (max-width: $break_mdd) {
            order: 1;
            margin-right: 15px;
        }
        @media (max-width: $break_md) {
            color: $beta;
        }
        @include col();
        @include shift-right(1);
        display: flex;
        color: $gamma;
        text-align: right;
    }
    &__phone-inner {
        @media (max-width: $break_mdd) {
            display: none;
        }
        margin-left: 32px;
    }
    &__phone {
        @include text-big();
        font-family: $font-beta;
        line-height: 135%;
        margin-bottom: 5px;
        transition: {
            property: color;
            duration: $duration;
        }

        &:hover {
            color: $alpha;
        }
    }
    &__subtitle {
        @include text-smaller();
    }
    &__enter {
        @include col();
    }
    &__enter-item {
        @media (max-width: $break_md) {
            color: $beta;
        }
        @media (max-width: $break_sm) {
            color: $gamma;
        }
    }
    &__icon-wrapper {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
    &__icons {
        @media (max-width: $break_mdd) {
            order: 2;
            margin-left: 0;
        }
        @media (max-width: $break_md) {
            margin-right: 0;
        }
        @include col();
        display: flex;
    }
    &__icon {

    }
}
