include ../nav/nav
include ../hamburger/hamburger
include ../enter/enter

mixin top-line({className = false})
    .top-line(class=className)
        .top-line__logo
            +icon({ className: 	'top-line__logo-img',
                    svgName: 	'logo' })
        .container.top-line__container
            .row.top-line__inner
                p.top-line__info надежный поставщик<br>складской техники в Казахстане
                a.top-line__phone-wrapper(href="tel:+77786714499")
                    .top-line__icon-wrapper.circle-icon.circle-icon_alpha
                        +icon({ className: 	'top-line__icon circle-icon__icon',
                                svgName: 	'phone' })
                    .top-line__phone-inner
                        .top-line__phone +7 (778) 671 44 99
                        p.top-line__subtitle с 9:00 до 18:00 ежедневно
                    +enter({ className: 'top-line__enter' })
                    a.top-line__icon-wrapper(href="/bookmarks")
                        +icon({ className: 	'top-line__icon',
                                svgName: 	'bookmark' })
                    a.top-line__icon-wrapper(href="/basket")
                        +icon({ className: 	'top-line__icon',
                                svgName: 	'cart' })
