mixin demo-svg()
    -
        const demoSvg = [
            {
                name: 'adv-calendar',
                viewbox: false
            },
            {
                name: 'adv-deliver',
                viewbox: false
            },
            {
                name: 'adv-loader',
                viewbox: false
            },
            {
                name: 'adv-wrench',
                viewbox: false
            },
            {
                name: 'catalog-box',
                viewbox: false
            },
            {
                name: 'catalog-cart',
                viewbox: false
            },
            {
                name: 'catalog-electrol-cart',
                viewbox: false
            },
            {
                name: 'catalog-engine',
                viewbox: false
            },
            {
                name: 'catalog-house-cart',
                viewbox: false
            },
            {
                name: 'catalog-hydro-stack',
                viewbox: false
            },
            {
                name: 'catalog-stock',
                viewbox: false
            },
            {
                name: 'catalog-table',
                viewbox: false
            },
            {
                name: 'catalog-tire',
                viewbox: false
            },
            {
                name: 'client-list',
                viewbox: false
            },
            {
                name: 'client-shield',
                viewbox: false
            },
            {
                name: 'client-stock',
                viewbox: false
            },
            {
                name: 'client-users',
                viewbox: false
            },
            {
                name: 'close',
                viewbox: false
            },
            {
                name: 'close-bold',
                viewbox: false
            },
            {
                name: 'location',
                viewbox: false
            },
            {
                name: 'logo',
                viewbox: false
            },
            {
                name: 'play',
                viewbox: false
            },
            {
                name: 'arrow-long',
                viewbox: false
            },
            {
                name: 'arrow-short',
                viewbox:  false
            },
            {
                name: 'bookmark',
                viewbox:  false
            },
            {
                name: 'cart',
                viewbox:  false
            },
            {
                name: 'check',
                viewbox:  false
            },
            {
                name: 'fb',
                viewbox: false
            },
            {
                name: 'insta',
                viewbox: false
            },
            {
                name: 'minus',
                viewbox: false
            },
            {
                name: 'paper',
                viewbox:  false
            },
            {
                name: 'phone',
                viewbox:  false
            },
            {
                name: 'plus',
                viewbox: false
            },
            {
                name: 'search',
                viewbox: false
            },
            {
                name: 'shield',
                viewbox: false
            },
            {
                name: 'update',
                viewbox: false
            },
            {
                name: 'vk',
                viewbox: false
            },
            {
                name: 'wrench',
                viewbox: false
            },
        ];
    .demo-svg
        .container
            h1.demo-svg__title Demo page
            h1.demo-svg__title Demo page
            ul.demo-svg__list
                each val, index in demoSvg
                    li.demo-svg__item
                        +icon({ className: 	'demo-svg__img',
                                svgName: 	val.name,
                                viewBoxName: val.viewbox })
                        .demo-svg__info
                            h4.demo-svg__name.h4-heading= val.name
                            p.demo-svg__name.text-large= val.viewbox
