extends ../layouts/default
include ../helpers/mixins
include ../../blocks/modules/demo-svg/demo-svg

block variables
    - const title = "Demo";

block content
    +demo-svg({})


block scripts
    script(src="js/main.js")
    script(src="js/vendor.js")
