include ../popular-products/popular-products
include ../advantages/advantages
include ../logos/logos

mixin main()
    main.main
        +popular-products({})
        +advantages({ type: 'advantages' })
        +advantages({ type: 'numbers' })
        +logos({ })
