include ../popular-products/popular-products
include ../advantages/advantages
include ../logos/logos
include ../offers/offers

mixin main()
    main.main
        +popular-products({})
        +advantages({ type: 'advantages' })
        +logos({ type: 'kazakh' })
        +offers({ })
        +advantages({ type: 'numbers' })
        +logos({ type: 'inter' })
