mixin arrows({ className = false })
    .arrows
        .arrows__arrow.arrows__arrow_left
            +icon({ className: 	'arrows__icon',
                    svgName: 	'arrow-short',
                    viewBoxName:    '0 0 20 16' })
        .arrows__arrow.arrows__arrow_right
            +icon({ className: 	'arrows__icon',
                    svgName: 	'arrow-short',
                    viewBoxName:    '0 0 20 16' })
