mixin search({text, icon})
    label.search(for="")
        +icon({
            className: 'svg-icon search__icon',
            svgName: 'search',

        })
        input.search__input(type='text' placeholder=text)