mixin search({text, icon})
    .search(for="")
        +icon({
            className: 'svg-icon svg-icon_theme_dark search__icon',
            svgName: 'search',

        })
        input.search__input(type='text' placeholder=text)