.dropdown-menu {
    &__title {
        @media (max-width: $break_lg) {
            font-size: rem($text-lg-small);
        }
        position: relative;
        display: inline-block;
        width: 100%;
        font-size: $text-normal;
        font: {
            weight: 600;
        }
        color: $beta;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
    }
    &__title:before, &__title:after {
        @media (max-width: $break_lg) {
            right: 33px;
            top: 7px;
        }
        content: '';
        position: absolute;
        right: 55px;
        top: 9px;
        width: 10px;
        height: 2px;
        background-color: $beta;
        // background-image: url(../img/sprites/sprite.svg#minus);
        // background-position: center center;
        // background-size: 100%;
        // background-repeat: no-repeat;
        opacity: $opacity0_3;
        transition: opacity $duration linear;
        // transition-delay: $duration;
    }
    &__title:after {
        transform: rotate(90deg);
        transition: transform $duration linear;
    }
    &__title_active:after {
        transform: rotate(0deg);
        opacity: 1;
        transition: {
            property: transform, opacity;
            // delay: 0s, $duration;
            duration: $duration;
            timing-function: linear;
        }
    }
    &__title_active:before {
        opacity: 1;
        transition: opacity $duration linear;
    }

    &__list {
        max-height: 0;
        overflow: hidden;
        transition: max-height $duration ease-out;
    }
    &__item + &__item {
        margin-top: 15px;
    }
    &__link {
        display: inline-block;
        position: relative;
        @include text-small();
        color: inherit;
        opacity: $opacity0_5;
    }
    &__link_active {
        color: $alpha;
        opacity: 1;
    }
}