include ../../components/arrows/arrows

mixin logos({ className = false, type })
    -
        const result = {
            title: (type === 'inter') ? logos.inter.title : logos.kazakh.title,
            images: (type === 'inter') ? logos.inter.images : logos.kazakh.images,
        };

    section.section.logos.swiper-container(class=className)
        .logos__subsection.subsection.container
            .logos__inner.row
                .logos__title= result.title
                .logos__arrows
                    +arrows({})
        .logos__items.swiper-wrapper
            each val, index in result.images
                a.logos__item.swiper-slide(href="/partner.html")
                    .logos__img-wrapper
                        img(class="logos__img" src=`./img/${val}`)
