include ../../components/tabs/tabs
include ../../components/card/card

mixin popular-products()
    section.section
        .container
            h2.section__title Популярные товары
            +tabs({ className: 'section__tabs', tabsList: categories.popularProducts })
        +card({ className: 'section__item',
                stock: true,
                bookmark: false,
                name: 'Тележка гидравлическая MLS-2500',
                price: '19 990',
                priceOld: '90 990',
                imgName: 'card-1' })
