.btn {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0;
    border: none;
    padding: 0;
    transition: $duration;
    font: {
        family: inherit;
        size: rem($text-big);
    }
    background: none;
    outline: none;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
}
.btn_theme {
    &_gamma {
        color: $alpha;
        background-color: $gamma;

        &:hover, &.active {
            color: $gamma;
            background-color: $alpha-hover;
        }
    }
    &_alpha {
        color: $gamma;
        background-color: $alpha;

        &:hover, &.active {
            color: $alpha;
            background-color: $alpha;
        }
    }
    &_transparent-alpha {
        background: transparent;
        color: $alpha;
        border: {
            width: 1px;
            style: solid;
            color: $alpha;
        }
    }
    &_transparent-gamma {
        background: transparent;
        color: $beta;
        border: {
            width: 1px;
            style: solid;
            color: $beta-lighter;
        }

        &:hover {
            color: $gamma;
            background-color: $alpha;
            border-color: $alpha;
        }
    }
}
.btn_size {
    &_standard {
        padding: 9px 18px;
    }
    &_large {
        padding: 24px;
    }
}
