mixin btn({className = false, text, href = false})
    -
        const result = `btn ${className ? className : ''}`;

    if (href === false)
        button(class=result)= text
    else
        a(href=href class=result)= text
